{% extends "index.html" %}

{% block page-content %}
    <h2 class="title" href="">
        Notes
        <a class="btn" id="add-btn" href="{% url 'note-add' %}">+</a>
    </h2>
    <ul>
    {% for note in object_list %}
        {% if note.topic.public or not note.topic.public and user.get_username == note.created_by.get_username %}
        <li>
            <a href="{% url 'note-detail' note.pk %}">{{ note.title }}</a>
        </li>
        {% endif %}
    {% empty %}
        No notes yet.
    {% endfor %}
    </ul>
{% endblock %}